
.flexContainer{
    width: 80vw;
    height: 60vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
    /* opacity: 0.6; */
}
.flexItem{
        width: 35vw;
        height: 45vh;
        /* border: 2px solid black;  */
}
.first{
    /* align-self: flex-end;  */
    background: url('../assets/aboutbg1.jpg')  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.second{
    align-self: flex-end; 
    background: url('../assets/img3.jpg')  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}