*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modalWrapper{
    position: fixed;
    max-width: 100rem;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color:  rgba(111, 85, 182, 0.856);
    opacity: .9;
   
}
.modalContainer{
    position: fixed; 
    top: 15%;
    left: 1%;
    background-color: white;
    border-radius: 12px;
}
.formError{
    color: red;
    font-weight:bold ;
}

@media screen and (max-width: 390px) {
    .container11{
       width: 350px;
       margin: 10px 13px;
    }
  }